.word-row {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.letter {
    width: 80px;
    height: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 2.4em;
    border-radius: 8px;
}

.letter.correct {
    background-color: green;
}

.letter.present {
    background-color: gold;
}

.letter.absent {
    background-color: lightgray;
}

@media (max-width: 768px) {
    .letter {
        width: 70px;
        height: 70px;
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .letter {
        width: 60px;
        height: 60px;
        font-size: 1.8em;
    }
}



